'use strict'
const {{Model}} = use('App/Models/{{Model}}')
const BaseService = use('App/Services/BaseService')

//Scoped services handle actions on existing records and scope them to execution context (e.g. user). Such actions are delete and update
//Do not write complicated logic in services (if possible) from service, as it should be independent of execution context
//Make sure to call methods of BaseService, as they handle a some logic

class {{Model}}Service extends BaseService{

    constructor(ctx) {
        super(ctx, {{Model}});
    }

   async getScope(identifierOrInstance) {
       //throw error if user in this execution context cannot access records that this service handles, or those records do not exist
   }

}

module.exports = {{Model}}Service
